XROAD_CENTRAL_TAG=noble-7.8.2
XROAD_SECURITY_SERVER_TAG=7.8.2
XROAD_ADMIN_USER=xrd
XROAD_ADMIN_PASSWORD=secret
XROAD_TOKEN_PIN=Str0ng-Pin!2026
PORTAL_XROAD_BASE_URL=https://10.71.2.17
PORTAL_XROAD_CLIENT=BJ/COM/CASE-TEST01/Anip
PORTAL_XROAD_PROTOCOL=uxp
PORTAL_XROAD_TLS_CERT_PATH=/app/certs/client-cert.pem
PORTAL_XROAD_TLS_KEY_PATH=/app/certs/client-key.pem
