XROAD_CENTRAL_TAG=noble-7.8.2
XROAD_SECURITY_SERVER_TAG=7.8.2
XROAD_ADMIN_USER=xrd
XROAD_ADMIN_PASSWORD=secret
XROAD_TOKEN_PIN=Str0ng-Pin!2026
PORTAL_XROAD_BASE_URL=http://xroad-portal-ss:8080
ANIP_XROAD_BASE_URL=http://xroad-anip-ss:8080
